@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 203 100% 95%;
  --foreground: 203 5% 0%;
  --card: 203 50% 90%;
  --card-foreground: 203 5% 10%;
  --popover: 203 100% 95%;
  --popover-foreground: 203 100% 0%;
  --primary: 203 38% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 203 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 165 30% 85%;
  --muted-foreground: 203 5% 35%;
  --accent: 165 30% 80%;
  --accent-foreground: 203 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 203 5% 90%;
  --border: 203 30% 50%;
  --input: 203 30% 18%;
  --ring: 203 38% 42%;
  --radius: 0.75rem;
}
.dark {
  --background: 203 50% 5%;
  --foreground: 203 5% 90%;
  --card: 203 50% 0%;
  --card-foreground: 203 5% 90%;
  --popover: 203 50% 5%;
  --popover-foreground: 203 5% 90%;
  --primary: 203 38% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 203 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 165 30% 15%;
  --muted-foreground: 203 5% 60%;
  --accent: 165 30% 15%;
  --accent-foreground: 203 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 203 5% 90%;
  --border: 203 30% 18%;
  --input: 203 30% 18%;
  --ring: 203 38% 42%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
